body{
    margin: 0;
    padding:0;
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    background-color: #010511;
    font-family: Rubik;
    flex-direction: column;
    
}
#dark-mode-btn{
    position:absolute;
    top: 16px;
    left: 24px;
    
}
.heading h1,h2{
    margin: 0;
    color: #E5EEFD;
}
.heading{
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#calculator{
    height: 30rem;
    width:18rem;
    background-color: #E5EEFD;
    border-radius: 0 1em;
    
}
#main-display{
    margin: 0.25em 0.5em;
    height: 2em;
    background-color:#bad1ee;
    position:absolute;
    top: 26px;
    left: 10px;
    width: 16em;
    text-align: center;
}
#input-box
{
    border:none;
    text-align: center;
    background-color:#bad1ee;
}

#secondary-display{
    font-size:40px;
    font-weight: 500;
    text-align: center;
    height: 3rem;
    margin:0;
    background-color:#bad1ee;
    position:absolute;
    top: 64px;
    left: 64px;
    width: 10rem;
}


#display-container{
    width:18em;
    height:8em;
    border-radius: 0 40%;
    position:relative;
    background-color: #bad1ee;
}
#keypad{
    height:20rem;
    margin: 0.25em 0.5em;
    background-color: #E5EEFD;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:repeat(5,1fr) ;
    grid-gap:0.5em;
    padding: 0.5em;
}
.key{
    font-family:Rubik;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #E6EDFD;
    border-radius:18px;
    font-size:1.3em;
    font-weight: 500;
    cursor: pointer;
    box-shadow:2px 2px 0 0 rgba(0,0,0,0.4) , -1.5px -1.3px 0 0 rgba(255,255,255);
}
.key:hover{
    transform: scale(0.97);
}
.equal{
    grid-row:4/6;
    grid-column:4;
}
.dark-mode{
    background-color: #010511;
}